{% extends 'base.html.twig' %}

{% block courseLi %}
    <li class="nav-item active">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="col-lg-12">
            <h2>Kursy JavaScript</h2>
        </div>
    </div>
    
    <section class="container">
        <div class="col-lg-12">
            <h3>Kurs JavaScriptu znanego wszystkim Mirosława Zelenta.</h3>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OcwON22ctYc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XJKXlxn9e-g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9FVtiJHFCSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/tiK92m-RopI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/edNqTubHUU0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>

    <section class="container">
        <div class="col-lg-12">
            <h3>Kurs Samuraja Programowania.</h3>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JFDScHg6Dws" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KvHBDV9UVLE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jL5mURSzQ9Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rYMD6x09XrQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/M4aCd3rxmR8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KNT3rFbqp98" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/EvX4K_-cgBk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/aFRigWN4sOQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9E5a6j8IIn4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zC1kHsUUOIE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rDAmhD94MAg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mJjFez8bUD8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pfK16DU1sQs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gZ0av1nvbT0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/IS562tf6s6g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YvJY6z6Xwr4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/I8Ap57E2uxs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9Qd5_-9TYa0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>
{% endblock %}
