{% extends 'base.html.twig' %}

{% block main %}
    <div class="container mgt">
        <div class="col-lg-12">
            <div class="alert alert-danger">{{ error }}</div>
        </div>
    </div>
{% endblock %}
