{% extends 'base.html.twig' %}

{% block basicsLi %}
    <li class="nav-item dropdown active">
{% endblock %}

{% block main %}
    <div class="container mgt">
        <div class="col-lg-12">
            <div class="card">
                <header class="card-header">
                    <h2 class="no-margin">Podstawy {{ language }}</h2>
                </header>

                <ul class="list-group list-group-flush">
                    {% for link in links %}
                        <li class="list-group-item">
                            <a target="_blank" href="{{ link.reference }}">{{ link.title }}</a>
                        </li>
                    {% else %}
                        <li class="list-group-item">Brak linków</li>
                    {% endfor %}
                </ul>

                {% if totalLinks > resultsPerPage %}
                <footer class="card-footer">
                    {{- pagination_render(paginator, 'pagination/paginator.html.twig') -}}
                </footer>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
