html { height: auto; }
body { min-height: 100vh; display: flex; flex-direction: column; }
.footer
{
    margin-top: auto;
}
.footer-text
{
    margin: 0;
}
.fu2
{
    background-color: #eceff1;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 4rem;
    margin-top: 1rem;
}


.no-margin { margin: 0; }
.mgt { margin-top: 1rem; }
.mgt-f
{
    margin-top: 1rem;
}
.mgt-f:first-child
{
    margin-top: 0;
}

.hidden
{
    display: none;
}


.task-data
{
    display: flex;
    align-items: center;
}
.task-content
{
    flex: 8;
}
.task-button
{
    flex: 2;
}
.task-solution
{
    border-left: solid 3px #33b5e5;
    padding: .5rem 0 .5rem .5rem;
    border-radius: .25rem;
}

.tile-container
{
    display: flex;
    flex-direction: column;
}
.tile-container > a,
.tile-container > div
{
    user-select: none;
}
.tile
{
    height: 10rem;
    width: 100%;
    margin: .25rem;
    padding: .25rem;
    background-color: #ededed;
    color: #37474F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
   /* border: solid 1px #cfd8dc;*/
}
.tile:hover
{
    background-color: #cfd8dc;
}
a.tile:hover
{
    text-decoration: none;
    color: #37474F;
}

@media screen and (min-width: 1200px)
{
    .tile-container
    {
        flex-direction: row;
        justify-content: flex-start;
    }
    .tile
    {
        width: 10rem;
    }
}